server:
  port: 8087
  servlet:
    context-path: '/ead-authuser/'

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ead-authuser
    username: postgres
    password: banco123
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgresSQLDialect
      jdbc:
        lob.non-contextual-creation: true
    properties:
      hibernate:
        show_sql: true
  output: # Aplicar cores de logs no console em Windows
    ansi:
      enabled: Always

ead:
  api:
    url:
      course: 'http://localhost:8082/ead-course'

logging:
  level:
    com.ead: TRACE #Pacote específico
    root: INFO #Raiz da aplicação
    org.springframework.web: DEBUG #Dependência/projeto específico
    org.hibernate: INFO #Dependência/projeto específico